{
  "extends": "rallycoding",
  "rules": {
      "arrow-body-style": ["error", "always"],
      "no-underscore-dangle": ["error", { "allow": ["_root"] }]
    },
  "globals": {
      "fetch": false,
      "FormData": false,
  }
}
